.form-card {
  border: #aaa solid 3px;
  width: 50vh;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.form-inner {
  width: 90%;
}

.form-input {
  padding: 0.4rem 0;
  width: 90%;
  font-size: 1.2rem;
  margin-top: .4rem;
  margin-bottom: 0.8rem;
}

.error-input {
  border: .2rem solid red;
}

.normal-input {
  border-color: black;
}

.error-text {
  font-size: 0.8rem;
  height: 1.3rem;
  color: red;
}

.button-place {
  text-align: center;
}

.button {
  width: 45%;
  margin: 0 .4rem;
  padding: .3rem 0;
}

.button-init {
  background-color: #fff;
}
.button-submit {
  background-color: lightgreen;
}

